/*********************************************
 ** HOME ROW 1
 *********************************************/

#footer-navigation-block1, #footer-navigation-block2, #footer-navigation-block3, #footer-navigation-block4 {
    width: 100%;
}

#footer-navigation-block1 {
    height: 220px;
}

#footer-navigation-block2 {
    height: 260px;
}

#footer-navigation-block2-up {
    height: 260px;
}

#footer-navigation-block3 {
    height: 240px;
}

#footer-navigation-block4 {
    height: auto;
}

/*********************************************
 ** HOME ROW 2
 *********************************************/

#home-row2-block1, #home-row2-block2, #home-row2-block3 {
    float: none;
    width: 100%;
}

#home-row2-block2, #home-row2-block3 {
    margin: 20px 0px 0px 0px;
}

/*********************************************
 ** SHARE HOT DEAL GRID LIST 5 OLD
 *********************************************/

#share-hot-deal-grid-list5-old-box {
    vertical-align: top;
    display: inline-block;
    width: calc(100%);
    margin: 0px 30px 30px 0px;
}

#share-hot-deal-grid-list5-old-box:nth-child(5n) {
    margin-right: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-last-child(-n+5) {
    margin-bottom: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-child(4n) {
    margin-right: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-last-child(-n+4) {
    margin-bottom: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-child(3n) {
    margin-right: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-last-child(-n+3) {
    margin-bottom: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-child(2n) {
    margin-right: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-last-child(-n+2) {
    margin-bottom: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-child(1n) {
    margin-right: 0px;
}

#share-hot-deal-grid-list5-old-box:nth-last-child(-n+1) {
    margin-bottom: 0px;
}

/*********************************************
 ** ADVERTIST LIST
 *********************************************/

#advertise-list-box {
    vertical-align: top;
    display: inline-block;
    width: calc(100%);
    margin: 0px 30px 30px 0px;
}

#advertise-list-box:nth-child(5n) {
    margin-right: 30px;
}

#advertise-list-box:nth-last-child(-n+5) {
    margin-bottom: 30px;
}

#advertise-list-box:nth-child(4n) {
    margin-right: 30px;
}

#advertise-list-box:nth-last-child(-n+4) {
    margin-bottom: 30px;
}

#advertise-list-box:nth-child(3n) {
    margin-right: 30px;
}

#advertise-list-box:nth-last-child(-n+3) {
    margin-bottom: 30px;
}

#advertise-list-box:nth-child(2n) {
    margin-right: 30px;
}

#advertise-list-box:nth-last-child(-n+2) {
    margin-bottom: 30px;
}

#advertise-list-box:nth-child(1n) {
    margin-right: 0px;
}

#advertise-list-box:nth-last-child(-n+1) {
    margin-bottom: 0px;
}

/*********************************************
 ** HOT DEAL
 *********************************************/

#hot-deal-left, #hot-deal-right {
    width: 0px;
    position: relative;
    z-index: 199;
}

#hot-deal-right {
    text-align: left;
    margin-left: -25px;
}

/*********************************************
 ** ALBUM USER
 *********************************************/

#album-user-box {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0px 25px 25px 0px;
}

#album-user-box:nth-child(5n) {
    margin-right: 30px;
}

#album-user-box:nth-last-child(-n+5) {
    margin-bottom: 30px;
}

#album-user-box:nth-child(4n) {
    margin-right: 30px;
}

#album-user-box:nth-last-child(-n+4) {
    margin-bottom: 30px;
}

#album-user-box:nth-child(3n) {
    margin-right: 30px;
}

#album-user-box:nth-last-child(-n+3) {
    margin-bottom: 30px;
}

#album-user-box:nth-child(2n) {
    margin-right: 30px;
}

#album-user-box:nth-last-child(-n+2) {
    margin-bottom: 30px;
}

#album-user-box:nth-child(1n) {
    margin-right: 0px;
    margin-bottom: 25px;
}

#album-user-box:nth-last-child(-n+1) {
    margin-bottom: 0px;
}

/*********************************************
 ** CANDIE
 *********************************************/

#candie-go {
    width: 100%;
}

#candie-go-label {
    display: none;
}

#candie-go-dropdown select {
    width: 100%;
}

#candie-go-button {
    margin: 0px 0px 0px 0px;
}

#candie-go-button button {
    width: 100%;
}

#candie-balance {
    float: none;
    clear: both;
    margin: 0px;
    padding: 15px 0px 0px 0px;
}

#candie-date-time {
    float: none;
    clear: both;
    margin: 0px;
    padding: 15px 0px 0px 0px;
}

/*********************************************
 ** INVITE FRIEND
 *********************************************/

#invite-friend-form-input input[type='text'] {
    width: 100%;
}

/*********************************************
 ** CHANGE PASSWORD
 *********************************************/

#change-password input[type='text'], #change-password input[type='password'] {
    width: 100%;
}

