/* HTML BODY
******************************/

html, body {
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
    background-color: #f5f5f1;
}

/* DEFAULT
******************************/

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 25px;
    border-bottom: 1px solid lightgray;
    padding: 0px 0px 6px 0px;
    margin: 0px 0px 10px 0px;
    letter-spacing: 1px;
}

select {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
}

input[type='text'] {
    margin: 0px;
    padding: 0px 7px 0px 7px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
}

input[type='text']::-webkit-input-placeholder {
    font-size: 14px;
    letter-spacing: 1px;
    font-style: italic;
}

input[type='password'] {
    margin: 0px;
    padding: 0px 7px 0px 7px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
}

input[type='submit'], button[type='submit'] {
    margin: 0px 0px 0px 0px;
    padding: 5px 14px 5px 14px;
    background: linear-gradient(0deg, #5aadbc, #48cbe2);
    color: white;
    border: 0px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    border-right: 1px solid #25a0b6;
    border-bottom: 1px solid #25a0b6;
}

input[type='submit']:hover,button[type='submit']:hover {
    background: linear-gradient(0deg, #3abad2, #58b7c8);
}

input[type='submit']:active,button[type='submit']:active {
    background: linear-gradient(0deg, #3ea7ba, #42b2c7);
}

textarea {
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    padding: 7px 7px 7px 7px;
    font-size: 13.5px;
    outline: none;
    font-family: helvetica;
}

textarea::-webkit-input-placeholder {
    font-style: italic;
    font-family: helvetica;
    letter-spacing: 1px;
}

#float-fix {
    clear: both;
    display: block;
}

p {
    line-height: 22px;
}

.last-paragraph {
    padding: 0px;
    margin: 0px;
}

a:active {
    color: #178497;
}

.image-upload-guide{
    font-size:smaller;
    font-style: italic;
}

.checkbox-text{
    font-size:15px;
}
/* WRAPPER
******************************/

#wrapper {
    width: 85%;
    margin: 0px auto 0px auto;
}

/* HEADER
******************************/

#header {
    background-color: #1aa7c0;
    background: linear-gradient(0deg, #3bb7cd, #519dd5);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
    position: relative;
}

#header-logo {
    float: left;
    margin: 5px 0px 5px 15px;
}

#header-logo-img {
    width: 180px;
}

#header-menu {
    float: right;
    margin: 28px 0px 28px 0px;
}

#header-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#header-menu li {
    float: left;
    margin: 0px 30px 0px 0px;
}

#header-menu li:last-child { 
    margin: 0px 15px 0px 0px;
}

#header-menu li a {
    color: white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

.header-menu-icon {
    font-size: 14px;
    margin-right: 7px;
}

.header-menu-icon-home {
    font-size: 16px !important;
}

#header-menu-mobile-icon {
    display: none;
}

#header-menu-mobile {
    display: none;
}
    
/* SEARCH
******************************/

#search {
    background-color: white;
    border-left: 1px solid #ccccc8;
    border-right: 1px solid #ccccc8;
}

#search-content {
    padding: 20px 20px 0px 20px;
}

#search-content-box {
    background-color: whitesmoke;
    position: relative;
}

#search-content-box-content {
    padding: 16px;
}

#search-content-box input[type='text'] {
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 0px 0px 30px;
}

#search-content-box select {
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 0px 0px 5px;
}

#search-content-box input[type='submit'] {
    height: 28px;
    width: 100%;
    box-sizing: border-box;
}

#search-icon {
    position: absolute;
    left: 23px;
    top: 23px;
    color: #7B7B7B;
}

#search-box-block1, #search-box-block2, #search-box-block3 {
    float: left;
}

#search-box-block1 {
    width: 63%;
    margin-right: 1%;
}

#search-box-block2 {
    width: 20%;
    margin-right: 1%;
}

#search-box-block3 {
    width: 15%;
}

/* BODY
******************************/

#body {
    background-color: white;
    border-left: 1px solid #ccccc8;
    border-right: 1px solid #ccccc8;
    border-bottom: 1px solid #ccccc8;
}

#body-content {
    padding: 25px;
}

#body-right-sidebar {
    float: right;
    width: 200px;
}

#body-right-sidebar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#body-right-sidebar li {
    padding: 1px 0px 1px 0px;
    border-top: 1px solid lightgray;
}

.body-right-sidebar-bar {
    
    padding: 8px 15px 8px 15px;
    display: block;
}

.body-right-sidebar-bar-active {
    background-color: #53c0d4;
    color: white !important;
}

#body-right-sidebar li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

#body-left-main {
    float: left;
    width: calc(100% - 230px);
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
}

/* LAYOUT
******************************/

#layout-advertisement-left {
    float: left;
    width: 100%;
    border: 1px solid lightgray;
    width: calc(100% - 300px);
}

#layout-advertisement-left-content {
    padding: 20px;
}

#layout-advertisement-right {
    float: right;
    width: 280px;
}

#layout-advertisement-right-banner-box {
    border: 1px dotted gray;
    width: 100%; 
    height: 180px; 
    line-height: 180px;
    text-align: center; 
    color: gray; 
    font-size: 15px; 
    letter-spacing: 1px;
}

/* LOGIN REGISTER
******************************/

#login-link, #register-link {
    float: right;
}

#login, #register {
    text-align: center;
}

#login a, #register a {
    text-decoration: none;
}

#login a:hover, #register a:hover {
    text-decoration: underline;
}

#login-title, #register-title {
    font-weight: bold;
    font-size: 19px;
    margin: 0px 0px 15px 0px;
}

#login-subtitle, #register-subtitle {
    margin: 0px 0px 15px 0px;
    font-size: 18px;
}

#login-facebook-icon, #register-facebook-icon {
    padding: 10px 0px 0px 0px;
}

#login-horizontal-line, #register-horizontal-line {
    width: 450px;
    margin: 20px auto 20px auto;
    border-bottom: 1px solid lightgray;
}

#login-form-each-label, #register-form-each-label {
    width: 285px;
    text-align: left;
    margin: 20px auto 0px auto;
}

#login-form-each-input input[type='text'], #register-form-each-input input[type='text'] {
    height: 25px;
    width: 270px;
    margin: 10px 0px 0px 0px;
}

#login-form-each-input input[type='password'], #register-form-each-input input[type='password'] {
    height: 25px;
    width: 270px;
    margin: 10px 0px 0px 0px;
}

#register-form-each-input textarea {
    margin: 10px 0px 0px 0px;
    width: 270px;
    height: 100px;
    resize: none;
}

#register-form-each-input select {
    width: 285px;
    height: 28px;
    margin: 10px 0px 0px 0px;
}

#register-form-each-input-dob {
    width: 290px;
    margin: 0px auto 0px auto;
}

#register-form-each-input-dob-year select, #register-form-each-input-dob-month select, #register-form-each-input-dob-day select {
    float: left;
    width: 30%;
    height: 28px;
    margin: 10px 5% 0px 0px;
}

#register-form-each-input-dob-year select {
    margin: 10px 0px 0px 0px;
}

#login-form-remember-me-forgot-password {
    width: 290px;
    margin: 0px auto 0px auto;
}

#login-form-remember-me {
    float: left;
    margin: 20px 0px 0px 0px;
    font-size: 15px;
}

#login-form-forgot-password {
    float: right;
    margin: 20px 0px 0px 0px;
    font-size: 15px;
}

#login-form-submit, #register-form-submit {
    padding: 30px 0px 30px 0px;
}
    
#login-tnc, #register-tnc {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 30px 0px;
    color: gray;
}

/* ABOUT US
******************************/

#about-us-logo {
    float: left;
}

#about-us-logo-img {
    width: 180px;
    margin: 40px 40px 40px 0px;
}

/* CONTACT US
******************************/

#contact-us-left {
    float: left;
    width: 50%;
}

#contact-us-left-map {
    margin: 10px 0px 0px 0px;
}

#contact-us-left-social-media-icon {
    font-size: 20px;
}

#contact-us-left-social-media-icon-facebook, #contact-us-left-social-media-icon-instagram, #contact-us-left-social-media-icon-linkedin {
    float: left;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}

#contact-us-left-social-media-icon-facebook a {
    color: #4a5e91;
}

#contact-us-left-social-media-icon-instagram a {
    color: #7d5846;
}

#contact-us-left-social-media-icon-linkedin a {
    color: #1379a0;
}

#contact-us-left-social-media-icon-facebook:hover, #contact-us-left-social-media-icon-instagram:hover, #contact-us-left-social-media-icon-linkedin:hover {
    color: black;
}

#contact-us-right {
    float: right;
    width: 38%;
    margin: 0px 5% 0px 7%;
}

#contact-us-right-form {
    margin: 10px 0px 0px 0px;
}

#contact-us-right-form-each {
    margin: 0px 0px 15px 0px;
}

#contact-us-right-form input[type='text'] {
    height: 32px;
    width: 100%;
    box-sizing: border-box;
}

#contact-us-right-form textarea {
    height: 150px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    resize: none;
}

#contact-us-right-form input[type='submit'] {
    float: right;
}

/* TERMS AND CONDITIONS
******************************/

#terms-and-conditions p {
    color: #4a4a4a;
    font-size: 15px;
}

#terms-and-conditions ul {
    padding: 0px;
    margin: 0px 0px 0px 30px;
}

#terms-and-conditions li {
    padding: 0px 0px 3px 0px;
    list-style-type: decimal;
    color: black;
    font-weight: bold;
}

#terms-and-conditions li p {
    padding: 0px;
    margin: 7px 0px 7px 0px;
    font-weight: normal;
}

#terms-and-conditions li > ul > li {
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 0px 0px;
    list-style-type: upper-latin;
    color: #4a4a4a;
    font-weight: normal;
}    

/* FOOTER
******************************/

#footer {
    margin: 16px 0px 35px 0px;
}

#footer-menu {
    float: left;
}

#footer-menu a {
    font-size: 14px;
    color: #2c59a0;
    text-decoration: none;
}

#footer-menu a:hover {
    text-decoration: underline;
    color: #2e5ba1;
}

#footer-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#footer-menu li {
    display: inline;
    margin: 0px 6px 0px 6px;
}

#footer-copyright {
    font-size: 14px;
    float: right;
    color: #767676;
    margin: 0px 6px 0px 6px;
}

/* SUCCESS MESSAGE 
******************************/

#success-message {
    margin: 30px 0px 30px 0px;
    text-align: center;
}

#success-message a {
    text-decoration: none;
}

#success-message a:hover {
    text-decoration: underline;
}

#success-message-title {
    font-weight: bold;
    font-size: 19px;
    margin: 0px 0px 15px 0px;
}

#success-message-subtitle {
    margin: 0px 0px 15px 0px;
    font-size: 18px;
}

#success-message-paragraph {
    margin: 0px 0px 15px 0px;
}

#success-message-link {
    margin: 30px 0px 0px 0px;
}
