/* WRAPPER
******************************/

#wrapper {
    width: 100%;
}

/* DASHBOARD
******************************/

#dashboard-photo {
    float: none;
}

#dashboard-info {
    margin: 20px 0px 0px 0px;
}

/* FOOTER
******************************/

#footer {
    margin: 15px 0px 15px 0px;
}

#footer-menu {
    float: none;
    margin: 0px 0px 8px 10px;
}

#footer-copyright {
    float: none;
    margin: 0px 0px 8px 16px;
}

#footer-server-time {
    float: left;
    margin: 0px 6px 0px 16px;
}