/*********************************************
 ** HEADER
 *********************************************/

#header-logo-bar-search {
    text-align: right;
    /*width: calc(100% - 220px);*/
}

#header-logo-bar-search-content {
    display: none;
}

#header-logo-bar-search2 {
    display: inline;
}

#header-logo-bar-search-block1 {
    width: calc(100% - 241px);
}

#header-logo-bar-search-block1 input[type='text'] {
    width: 100%;
}

.header-logo-bar-table-row-cell-mobile-navigation {
    visibility: visible;
}

#header-navigation-bar {
    display: none;
}

/*********************************************
 ** SHARE HOT DEAL GRID LIST 5 OLD
 *********************************************/

#share-hot-deal-grid-list5-old-box {
    vertical-align: top;
    display: inline-block;
    width: calc(25% - 25px);
    margin: 0px 30px 30px 0px;
}

#share-hot-deal-grid-list5-old-box:nth-child(5n) {
    margin-right: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-last-child(-n+5) {
    margin-bottom: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-child(4n) {
    margin-right: 0px;
}

#share-hot-deal-grid-list5-old-box:nth-last-child(-n+4) {
    margin-bottom: 0px;
}