/*********************************************
 ** HEADER
 *********************************************/

#header-top-bar-social-media {
    display: none;
}

#header-logo-bar-table-row-cell {
    display: block;
}

.header-logo-bar-table-row-cell-mobile-logo {
    float: left;
}

.header-logo-bar-table-row-cell-mobile-navigation {
    float: right;
}

.header-logo-bar-table-row-cell-profile-display {
    clear: both;
    float: left;
}

#header-logo-bar-mobile-navigation {
    width: calc(100% - 250px);
    text-align: right;
}

#header-logo-bar-profile-display {
    margin: 20px 0px 0px 0px;
    display: block;
    width: 100%;
    border-left: 0px solid lightgray;
    padding: 0px 0px 0px 0px;
}

#header-logo-bar-search-block1, #header-logo-bar-search-block2, #header-logo-bar-search-block3 {
    display: block;
}

#header-logo-bar-search-block1, #header-logo-bar-search-block2 {
    width: 100%;
    margin: 0px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

#header-logo-bar-search-block3 {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

/*********************************************
 ** HOME ROW 1
 *********************************************/

#home-row1-left-banner-block1, #home-row1-left-banner-block2, #home-row1-left-banner-block3 {
    float: none;
    width: 100%;
    height: auto;
    margin: 0px 0px 20px 0px;
}

/*********************************************
 ** HOME ROW 2 COLUMN 1 BANNER
 *********************************************/

#home-row2-column1-banner-block1, #home-row2-column1-banner-block2, #home-row2-column1-banner-block3 {
    float: none;
    width: 100%;
    margin: 0px 0px 10px 0px;
}
    
/*********************************************
 ** LOGIN REGISTER
 *********************************************/

#login-title, #register-title {
    margin-top: 25px;
}

#login-form, #register-form {
    width: 100%;
}

/*********************************************
 ** DASHBOARD
 *********************************************/

#dashboard-info-title-name {
    float: none;
}

#dashboard-info-promo-code {
    float: none;
    margin: 20px 0px 0px 0px;
}