/*********************************************
 ** HOME ROW 1
 *********************************************/

#home-row1-banner-main {
    display: none;
}

#home-row1-banner-main2 {
    display: inline;
}

/*********************************************
 ** FOOTER
 *********************************************/

#footer-navigation-block1 {
    width: 50%;
}

#footer-navigation-block2 {
    width: 50%;
}

#footer-navigation-block3 {
    width: 50%;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

#footer-navigation-block4 {
    width: 50%;
}

/*********************************************
 ** HOME ROW 1
 *********************************************/

#home-row1-categories-navigation {
    display: none;
}

#home-row1-banner-main {
    float: none;
    margin: 0px;
    width: 100%;
}

/*********************************************
 ** HOME ROW 3 COLUMN 1
 *********************************************/

#home-row3-column1 {
    width: 100%;
    float: none;
}

/*********************************************
 ** HOME ROW 3 COLUMN 2
 *********************************************/

#home-row3-column2 {
    width: 100%;
    float: none;
}

/*********************************************
 ** HOME ROW 3 COLUMN 2 LIKE
 *********************************************/

#home-row3-column2-like-notification {
    height: auto;
    max-height: 300px;
}

/*********************************************
 ** HOME ROW 3 COLUMN 2 USER PICTURE
 *********************************************/

#home-row3-column2-user-picture-notification {
    height: auto;
    max-height: 300px;
}

/*********************************************
 ** INDEX LEFT CATEGORY
 *********************************************/

#index-left-category {
    float: none;
    width: 100%;
    margin: 0px 0px 30px 0px;
}

#index-left-category-right-content {
    float: none;
    width: 100%;
    margin: 0px;
}