/*********************************************
 ** HOME
 *********************************************/

#home-row3-column1 {
    width: 100%;
    float: none;
}

#home-row3-column2 {
    display: none;
}

