/* FOOTER
******************************/

#footer-menu {
    padding: 0px 0px 5px 0px;
}

#footer-menu li {
    font-size: 13px;
    display: block;
    margin: 0px 0px 4px 6px;
}

#footer-copyright {
    font-size: 13px;
}

/* LAYOUT ADVERTISEMENT
******************************/

#layout-advertisement-right-banner-box1, #layout-advertisement-right-banner-box2,
#layout-advertisement-right-banner-box3, #layout-advertisement-right-banner-box4 {
    width: 100%;
    height: auto;
}