/* HEADER
******************************/

#header-menu {
    display: none;
}

#header-menu-mobile-icon {
    float: right;
    color: white;
    margin: 12px 0px 12px 0px;
    font-size: 22px;
    cursor: pointer;
    display: inline;
}

#header-menu-mobile ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#header-menu-mobile li {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: white;
    padding: 7px 25px 7px 25px;
}

#header-menu-mobile li:first-child {
    padding: 10px 25px 7px 25px;
}

#header-menu-mobile a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#header-menu-mobile > #wrapper > ul > li > a > .fa {
    width: 19px;
    font-size: 14px;
}

#header-sub-menu {
    display: none;
}

/* LAYOUT ADVERTISEMENT
******************************/

#layout-advertisement-left {
    float: none;
    width: 100%;
}

#layout-advertisement-right {
    float: none;
    margin: 20px 0px -20px 0px;
    width: 100%;
}

#layout-advertisement-right-banner-box1, #layout-advertisement-right-banner-box2,
#layout-advertisement-right-banner-box3, #layout-advertisement-right-banner-box4 {
    float: left;
    margin: 0px 20px 20px 0px;    
}

/* FOOTER
******************************/

#footer-server-time {
    clear: both;
    margin: 5px 6px 0px 0px;
}