/*********************************************
 ** VISIT FIRST TIME MODEL
 *********************************************/

#visit-first-time-modal-left {
    float: none;
    width: 100%;
}

#visit-first-time-modal-right {
    float: none;
    width: 100%;
    margin: 20px 0px 0px 0px;
}