/*********************************************
 ** HOT DEAL
 *********************************************/

#hot-deal-photo {
    float: none;
    width: 100%;
}

#hot-deal-information {
    margin: 25px 0px 0px 0px;
    width: 100%;
}

#hot-deal-user-comment {
    width: auto;
}