/*********************************************
 ** HEADER
 *********************************************/

#header-logo-bar-search-content {
    display: none;
}

#header-logo-bar-search2 {
    display: inline;
}

#header-logo-bar-search2-content {
    margin: 20px 0px 25px 0px;
}

#header-logo-bar-search-block1 {
    width: calc(100% - 241px);
}

#header-logo-bar-search-block1 input[type='text'] {
    width: 100%;
}

#header-navigation-bar {
    display: none;
}
