/* HTML BODY
******************************/

html, body {
    margin: 0px;
    padding: 0px;
    font-family: serif;
    background-color: #f5f5f1;
    font-size: 17px;
}

/* DEFAULT
******************************/

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #244964;
    font-size: 25px;
    border-bottom: 1px solid lightgray;
    padding: 0px 0px 6px 0px;
    margin: 0px 0px 10px 0px;
    letter-spacing: 1px;
}

h2 {
    font-size: 20px;
    letter-spacing: 1px;
}

table {
    border-collapse: collapse;
}

select {
    margin: 0px;
    padding: 0px 5px 0px 5px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
    height: 28px;
}

input[type='text'] {
    margin: 0px;
    padding: 0px 7px 0px 7px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
    height: 30px;
    box-sizing: border-box;
}

input[type='text']::-webkit-input-placeholder {
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}

input[type='password'] {
    margin: 0px;
    padding: 0px 7px 0px 7px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
    height: 30px;
    box-sizing: border-box;
}

input:-moz-read-only, textarea:-moz-read-only {
    background-color: whitesmoke;
    color: gray;
}

input:read-only, textarea:read-only { 
    background-color: whitesmoke;
    color: gray;
}

input[type='submit'], input[type='button'], button[type='submit'], .a-href-button {
    padding: 5px 14px 5px 14px;
    background-color: #e91d41;
    color: white;
    border: 0px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    height: 30px;
    font-family: serif;
    font-size: 15px;
}

.a-href-button {
    padding: 7px 14px 7px 14px;
    height: auto;
}

.a-href-button:hover {
    text-decoration: none;
}

.a-href-button:hover:active {
    color: white;
}

.a-href-button { 
    font-size: 15px;
    display: inline-block;
}

#submit-simple {
    border-radius: 0px;
    letter-spacing: 0px;
    color: #4a4a4a;
    background: linear-gradient(0deg, #dedede, #f6f6f6);
    border: 1px solid #aeaeae;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    font-size: 15px;
}

#submit-simple:active {
    background: linear-gradient(0deg, #f6f6f6, #dedede);
    border: 1px solid #9a9a9a;
}

#button-a-href {
    background: none;
    padding: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0px;
    color: gray;
    text-decoration: none;
    color: #4d4dff;
    font-weight: normal;
}

#button-a-href:hover {
    text-decoration: underline;
}

textarea {
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    padding: 7px 7px 7px 7px;
    font-size: 13.5px;
    outline: none;
    font-family: serif;
}

textarea::-webkit-input-placeholder {
    font-style: italic;
    font-family: serif;
    letter-spacing: 1px;
}

p {
    line-height: 22px;
}

.last-paragraph {
    padding: 0px;
    margin: 0px;
}

a:active {
    color: #178497;
}

.checkbox-text{
    font-size:15px;
}

a {
    color: #4d4dff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ALL
******************************/

#float-fix {
    clear: both;
    display: block;
}

.text-ellipsis {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

#message {
    width: 100%;
    border: 1px solid #e09600;
    border-radius: 3px;
    border-left: 6px solid #e09600;
    color: #734c00;
    background: #fdf8ed;
    margin: 0px 0px 20px 0px;
    padding: 8px 14px 8px 14px;
    font-size: 14px;
    box-sizing: border-box;
}

#message p {
    margin: 0px;
}

#empty-message {
    padding: 20px;
    color: gray;
    font-style: italic;
}

#table-all table {
    width: 100%;
    border: 1px solid lightgray;
}

#table-all-layout-fixed table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid lightgray;
}

#table-all table th, #table-all-layout-fixed th {
    background-color: whitesmoke;
    padding: 4px 8px 4px 8px;
    font-size: 16px;
}

#table-all table td, #table-all-layout-fixed td {
    font-size: 16px;
    padding: 5px 8px 5px 8px;
}

.table-all-layout-fixed-text-overflow-ellipsis {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid red;
}

/* WRAPPER
******************************/

#wrapper {
    width: 75%;
    margin: 0px auto 0px auto;
}

/* HEADER
******************************/

#header-wrapper {
    width: 85%;
    margin: 0px auto 0px auto;
}

#header {
    background-color: black;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
    position: relative;
}

#header-logo {
    float: left;
    margin: 6px 0px 0px 15px;
}

#header-logo-img {
    width: 115px;
}

#header-menu {
    float: right;
}

#header-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#header-menu li {
    float: left;
    padding: 5px 8px 5px 8px;
    margin: 10px 0px 10px 0px;
    border: 1px solid black;
}

#header-menu li a {
    color: #e0e0e0;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.header-menu-active {
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 1px #34829f;
    -webkit-box-shadow: inset 0 0 1px #34829f;
    box-shadow: inset 0 0 1px #34829f;
    background-color: #e91d41;
    box-sizing: border-box;
}

.header-menu-active a { 
    color: white !important;
}

.header-menu-icon {
    font-size: 14px;
    margin-right: 7px;
}

.header-menu-icon-home {
    font-size: 16px !important;
}

#header-menu-mobile-icon {
    display: none;
}

#header-menu-mobile {
    display: none;
}
    
/* SEARCH
******************************/

#search {
    background-color: white;
    border-left: 1px solid #ccccc8;
    border-right: 1px solid #ccccc8;
}

#search-content {
    padding: 25px 25px 0px 25px;
}

#search-content-box {
    background-color: whitesmoke;
    position: relative;
}

#search-content-box-content {
    padding: 16px;
}

#search-content-box input[type='text'] {
    width: 100%;
    padding: 0px 0px 0px 30px;
}

#search-content-box select {
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 0px 0px 5px;
}

#search-content-box button[type='submit'] {
    width: 100%;
    box-sizing: border-box;
}

#search-icon {
    position: absolute;
    left: 23px;
    top: 23px;
    color: #7B7B7B;
}

#search-box-block1, #search-box-block2, #search-box-block3 {
    float: left;
}

#search-box-block1 {
    width: 63%;
    margin-right: 1%;
}

#search-box-block2 {
    width: 20%;
    margin-right: 1%;
}

#search-box-block3 {
    width: 15%;
}

/* BODY
******************************/

#body {
    background-color: white;
    border-left: 1px solid #ccccc8;
    border-right: 1px solid #ccccc8;
    border-bottom: 1px solid #ccccc8;
}

#body-content {
    padding: 25px;
}

#body-left-main {
    float: left;
    width: calc(100% - 230px);
}

/* LAYOUT INNER RIGHT MENU
******************************/

#layout-inner-right-menu {
    float: right;
    width: 200px;
}

#layout-inner-right-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#layout-inner-right-menu li {
    padding: 1px 0px 1px 0px;
    border-top: 1px solid lightgray;
}

.layout-inner-right-menu-bar {
    
    padding: 8px 15px 8px 15px;
    display: block;
}

.layout-inner-right-menu-bar-active {
    background-color: #e91d41;
    color: white !important;
}

#layout-inner-right-menu li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/* LAYOUT ADVERTISEMENT
******************************/

#layout-advertisement-left {
    float: left;
    width: calc(100% - 200px);
}

#layout-advertisement-left-content {
    padding: 0px;
}

#layout-advertisement-right {
    float: right;
}

#layout-advertisement-right-banner-box1, #layout-advertisement-right-banner-box2,
#layout-advertisement-right-banner-box3, #layout-advertisement-right-banner-box4 {
    border: 1px dotted gray;
    width: 180px; 
    height: 110px; 
    line-height: 23px;
    text-align: center; 
    color: gray; 
    font-size: 11px; 
    letter-spacing: 1px;
}

#layout-advertisement-right-banner-box1, #layout-advertisement-right-banner-box2, 
#layout-advertisement-right-banner-box3 {
    margin: 0px 0px 20px 0px;
}

/* LAYOUT CATEGORY
******************************/

#layout-category-left {
    float: left;
    width: 250px;
}

#layout-category-left-label:first-child {
    margin: 0px 0px 10px 0px;
}

#layout-category-left-label {
    font-size: 16px;
    margin: 25px 0px 10px 0px;
    font-weight: bold;
    color: #244964;
}

#layout-category-left-nav {
    margin: 0px 0px 7px 10px;
}

#layout-category-left-nav-icon {
    margin: 0px 4px 0px 0px;
    color: lightgray;
}

#layout-category-left-nav a {
    color: #959595;
    text-decoration: none;
    font-size: 16px;
}

#layout-category-left-nav a:hover {
    color: black;
}

.layout-category-left-nav-active > a > span {
    color: #d50000 !important;
    font-weight: bold;
}

.layout-category-left-nav-active a {
    color: #d50000 !important;
    font-weight: bold;
}

#layout-category-right {
    float: left;
    width: calc(100% - 250px);
}

/* HOME
******************************/

#home-navigation-c1 {
    width: 140px;
    float: left;
    position: relative;
    z-index: 99;
}

.home-navigation-c1-bar-a {
    padding: 10px 10px 10px 10px;
    display: block;
    background-color: #f5f5f1;
    border-top: 1px solid #e5e5e1;
    border-right: 1px solid #ccccc8;
    border-left: 1px solid white;
}

.home-navigation-c1-bar-a-active {
    background-color: white;
    border-left: 1px solid #ccccc8;
    border-top: 1px solid #ccccc8;
    border-bottom: 1px solid #ccccc8;
    border-right: 1px solid white;
}

#home-navigation-c1-bar a { 
    text-decoration: none;
    color: #295292;
    font-size: 14px;
}

#home-navigation-c2 {
    border: 1px solid #ccccc8;
    width: calc(100% - 142px);
    float: left;
    margin-left: -1px;
}

#home-navigation-c2-c1 {
    float: left;
    width: 190px;
}

#home-navigation-c2-c1-content {
    padding: 15px 20px 15px 20px;
}

#home-navigation-c2-c1-bar {
    margin: 0px 0px 14px 0px;
    line-height: 17px;
}

#home-navigation-c2-c1-bar a {
    color: gray;
    text-decoration: none;
    font-size: 14px;
}

#home-navigation-c2-c1-bar a:hover {
    color: black;
}

#home-navigation-c2-c2 {
    float: left;
    width: calc(100% - 190px);
}

#home-navigation-c2-c2-content {
    padding: 4px;
}

#home-navigation-c2-c2-content img {
    border: 1px dotted gray;
    box-sizing: border-box;
    width: 100%; 
    display: block;
}

/* CATEGORY
******************************/

#category-each {
    display: inline-block;
    margin: 0px 30px 30px 0px;
    vertical-align: top;
    width: 230px;
}

#category-each-label {
    font-size: 17px;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
    color: #244964;
}

#category-each-nav {
    margin: 0px 0px 7px 10px;
}

#category-each-nav-icon {
    margin: 0px 4px 0px 0px;
    color: lightgray;
}

#category-each-nav a {
    color: gray;
    text-decoration: none;
}

#category-each-nav a:hover {
    color: black;
}

#category-advertisement-table {
    display: table;
    width: 100%;
}

#category-advertisement-table-row {
    display: table-row;
}

#category-advertisement-table-row-cell {
    display: table-cell;
}

#category-advertisement-box {
    margin: 0px 20px 20px 0px;
}

#category-advertisement-box img {
    border: 1px dotted gray;
    box-sizing: border-box;
    width: 100%; 
    max-width: 160px;
    display: block;
}

#category-advertisement-bottom-empty-fix {
    margin: 0px 0px -20px 0px;
}

/* LOGIN REGISTER
******************************/

#login-link, #register-link {
    float: right;
}

#login-link-icon, #register-link-icon {
    margin: 0px 8px 0px 0px;
    color: #6262ff;
    font-size: 14px;
}

#login, #register {
    text-align: center;
}

#login a, #register a {
    text-decoration: none;
}

#login a:hover, #register a:hover {
    text-decoration: underline;
}

#login-title, #register-title {
    font-weight: bold;
    font-size: 21px;
    margin: 0px 0px 25px 0px;
}

#login-subtitle, #register-subtitle {
    margin: 0px 0px 30px 0px;
    font-size: 18px;
}

#login-facebook, #register-facebook {
    padding: 0px 0px 10px 0px;
}

#login-facebook-button {
    height: 35px;
}

#login-facebook-label {
    font-size: 14px;
    margin: 0px 0px 0px 0px;
}

#login-horizontal-line, #register-horizontal-line {
    width: 450px;
    margin: 20px auto 20px auto;
    border-bottom: 1px solid lightgray;
}

#login-form-each-label, #register-form-each-label {
    width: 285px;
    text-align: left;
    margin: 20px auto 0px auto;
}

#login-form-each-input input[type='text'], #register-form-each-input input[type='text'] {
    width: 290px;
    margin: 10px 0px 0px 0px;
}

#login-form-each-input input[type='password'], #register-form-each-input input[type='password'] {
    width: 290px;
    margin: 10px 0px 0px 0px;
}

#login-form-each-input-contact-number input[type='text'] , #register-form-each-input-contact-number input[type='text'] {
    width: 238px;
    margin: 10px 0px 0px 0px;
}

#register-form-each-input textarea {
    margin: 10px 0px 0px 0px;
    width: 270px;
    height: 100px;
    resize: none;
}

#register-form-each-input select {
    width: 285px;
    height: 30px;
    margin: 10px 0px 0px 0px;
}

#register-form-each-other {
    display: none;
}

#register-form-each-input-dob {
    width: 290px;
    margin: 0px auto 0px auto;
}

#register-form-each-input-dob-year select, #register-form-each-input-dob-month select, #register-form-each-input-dob-day select {
    float: left;
    width: 30%;
    height: 30px;
    margin: 10px 5% 0px 0px;
}

#register-form-each-input-dob-year select {
    margin: 10px 0px 0px 0px;
}

#login-form-remember-me-forgot-password {
    width: 290px;
    margin: 0px auto 0px auto;
}

#login-form-remember-me {
    float: left;
    margin: 20px 0px 0px 0px;
    font-size: 15px;
}

#login-form-forgot-password {
    float: right;
    margin: 20px 0px 0px 0px;
    font-size: 15px;
}

#login-form-submit, #register-form-submit {
    padding: 30px 0px 30px 0px;
}
    
#login-agree, #register-agree {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 30px 0px;
    color: gray;
}

/* DASHBOARD
******************************/

#dashboard {
    margin: 0px 0px 0px 0px;
}

#dashboard-content {
    margin: 20px 0px 35px 0px;
}

#dashboard-photo {
    float: left;
}

#dashboard-photo-box {
    width: 250px;
    height: 250px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
}

#dashboard-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#dashboard-photo-note {
    font-size: smaller;
    font-style: italic;
    margin: 5px 0px 15px 0px;
}

#dashboard-photo-input-file {
    margin: 15px 0px 15px 0px;
}

#dashboard-photo-input-file input[type='file'] {
    width: 200px;
}

#dashboard-photo-button {
    margin: 20px 0px 20px 0px;
}

#dashboard-info {
    font-size: 17px;
    float: left;
    margin: 0px 0px 0px 30px;
    width: calc(100% - 290px);
}

#dashboard-info-title {
    padding: 10px 0px 5px 0px;
}

#dashboard-info-title-name {
    float: left;
    font-weight: bold;
    font-size: 23px;
    margin: 0px 15px 0px 0px;
}

#dashboard-info-edit-link {
    float: right;
}

#dashboard-info-title-candie {
    float: left;
    margin: -5px 0px 0px 15px;
}

#dashboard-info-address {
    font-size: 18px;
    margin: 18px 0px 18px 0px;
}

#dashboard-info-outlet-address {
    margin: 18px 0px 0px 0px;
}

#dashboard-info-company-description {
    width: 100%;
    border: 1px solid lightgray;
    margin: 20px 0px 0px 0px;
    padding: 7px;
    text-align: left;
    border-radius: 4px;
    height: 150px;
    overflow-y: auto;
    line-height: 25px;
    text-align: justify;
    box-sizing: border-box;
}

#dashboard-info-table {
    margin: 18px 0px 0px 0px;
}

#dashboard-info-followers-following {
    padding: 20px 0px 30px 0px;
}

#dashboard-info-followers {
    float: left;
    margin: 0px 30px 0px 0px;
}

#dashboard-info-following {
    float: left;
}

#dashboard-navigation {
    margin: 15px 0px 0px 0px;
}

#dashboard-navigation-each {
    float: left;
}

.dashboard-navigation-each-icon {
    font-size: 14px;
    margin-right: 7px;
}

#dashboard-navigation-separater {
    color: lightgray;
    margin: 0px 15px 0px 15px;
    float: left;
}

/* ADVERTISE LIST
******************************/

#advertise-list-content {
    padding: 10px 0px 0px 0px;
}

#advertise-list-category-breadcrumb {
    font-size: 16px;
    color: #5c5c5c;
    margin: -10px 0px 20px 0px;
}

#advertise-list-title {
    color: #244964;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: bold;
    float: left;
}

#advertise-list-title-upload {
    float: left;
    margin: 6px 0px 0px 20px;
}

.advertise-list-title-upload-icon {
    font-size: 14px;
    margin-right: 7px;
}

#advertise-list-title-bottom-line {
    border-bottom: 1px solid lightgray;
    padding: 0px 0px 6px 0px;
    margin: 0px 0px 10px 0px;
}

#advertise-list-box {
    vertical-align: top;
    display: inline-block;
    margin: 0px 50px 50px 0px;
    width: 180px;
}

#advertise-list-photo-box {
    width: 180px;
    height: 180px;
    border: 1px solid #e1e1e1;
    background-color: whitesmoke;
}

#advertise-list-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#advertise-list-title1 {
    margin: 0px 0px 10px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#advertise-list-title1 a {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

#advertise-list-title1 a:hover {
    text-decoration: none;
}

#advertise-list-title2 {
    font-size: 22px;
    margin: 10px 0px 0px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#advertise-list-title2 a {
    font-size: 17px;
    color: black;
}

#advertise-list-title2 a:hover {
    text-decoration: none;
}

#advertise-list-info {
    margin: 10px 0px 0px 0px;
    font-size: 15px;
}

#advertise-list-voucher-worth {
    font-weight: bold;
    font-size: 14px;
}

#advertise-list-info-category {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 110px;
}

#advertise-list-dynamic-time {
    border-top: 1px dotted #ababab;
    border-bottom: 1px dotted #ababab;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 0px 0px;
    font-size: 15px;
    text-align: center;
}

#advertise-list-dynamic-time-label {
    margin: 0px 0px 0px 6px;
}

#advertise-list-pagination {
    margin: 25px 0px 0px 0px;
}

#advertise-list-pagination strong {
    margin: 0px 7px 0px 0px;
    font-size: 15px;
}

#advertise-list-pagination a {
    margin: 0px 7px 0px 0px;
    font-size: 15px;
}

#advertise-list-empty-bottom-fix {
    margin: 0px 0px -55px 0px;
}

/* ADVERTISE LIST SUGGESTION
******************************/

#advertise-list-suggestion {
    margin: 20px 0px 0px 0px;
}

#advertise-list-suggestion-content {
    margin: 20px 0px 0px 0px;
}

/* OUTLET
******************************/

#outlet {
    margin: 25px 0px 0px 0px;
}

#outlet-search {
    margin: 20px 0px 20px 0px;
}

#outlet-search-text {
    width: calc(100% - 135px);
    height: 30px;
    box-sizing: border-box;
}

#outlet-search-button {
    width: 130px;
}

#outlet-info {
    margin: 0px 0px 13px 0px;
    padding: 0px 0px 13px 0px;
    border-bottom: 1px dotted gray;
}

#outlet-info:last-child {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-bottom: 0px;
}

#outlet-info-name {
    padding: 0px 0px 7px 0px;
    font-weight: bold;
    font-size: 17px;
}

#outlet-info-address {
    padding: 0px 0px 7px 0px;
    font-size: 15px;
}

#outlet-info-tel {
    padding: 0px 0px 7px 0px;
}

#outlet-info-view-map {
    font-size: 14px;
}

/* MAP
******************************/

#merchant-map {
    margin: 30px 0px 0px 0px;
}

#merchant-map-google {
    width: 100%;
}

#merchant-map-google-link {
    margin: 20px 0px 0px 0px;
    float: right;
}

/* PROFILE
******************************/

#profile {
    margin: 0px 0px 0px 0px;
}

#profile-content {
    margin: 20px 0px 0px 0px;
}

#profile-photo {
    float: left;
}

#profile-photo-box {
    width: 250px;
    height: 250px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
}

#profile-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#profile-photo-note {
    font-size: smaller;
    font-style: italic;
    margin: 5px 0px 15px 0px;
}

#profile-photo-input-file {
    margin: 15px 0px 15px 0px;
}

#profile-photo-input-file input[type='file'] {
    width: 200px;
}

#profile-photo-button {
    margin: 20px 0px 20px 0px;
}

#profile-info {
    float: left;
    margin: 0px 0px 0px 35px;
    width: 290px;
}

#profile-info-form-each-label {
    margin: 10px 0px 10px 0px;
}

#profile-info-form-each-label-icon {
    margin: 0px 0px 0px 7px;
    font-size: 16px;
    color: #4a4a4a;
}

#profile-info-form-each-input input[type='text'] {
    height: 25px;
    width: 100%;
    margin: 0px 0px 10px 0px;
    box-sizing: border-box;
}

#profile-info-form-each-input-contact-number input[type='text'] {
    height: 25px;
    width: calc(100% - 32px);
    margin: 0px 0px 10px 0px;
    box-sizing: border-box;
}

#profile-info-form-each-input textarea {
    margin: 0px 0px 7px 0px;
    width: 290px;
    height: 100px;
    resize: none;
    box-sizing: border-box;
}

#profile-info-form-each-input-dob {
    width: 290px;
}

#profile-info-form-each-input-dob-year select, #profile-info-form-each-input-dob-month select, #profile-info-form-each-input-dob-day select {
    float: left;
    width: 30%;
    margin: 0px 5% 0px 0px;
}

#profile-info-form-each-input-dob-year select {
    margin: 0px 0px 0px 0px;
}

#profile-info-form-each-input select {
    width: 100%;
    margin: 0px 0px 10px 0px;
}

#profile-info-form-submit {
    margin: 15px 0px 0px 0px;
}
#profile-branch-info {
    width: 290px;
    margin: 20px 0px 0px 285px;
}

#profile-bottom-link {
    margin: 30px 0px 0px 0px;
}

#profile-bottom-link-left {
    float: left;
}

#profile-bottom-link-right {
    float: right;
}

#profile-bottom-link-right-each {
    display: inline;
    margin: 0px 10px 0px 0px;
}

/* CHANGE PASSWORD
******************************/

#change-password-content {
    margin: 20px 0px 0px 0px;
}

#change-password-form-each-label {
    margin: 10px 0px 10px 0px;
}

#change-password-form-each-input input[type='text'] {
    height: 25px;
    width: 290px;
    margin: 0px 0px 10px 0px;
    box-sizing: border-box;
}

#change-password-form-each-input input[type='password'] {
    height: 25px;
    width: 290px;
    margin: 0px 0px 10px 0px;
    box-sizing: border-box;
}

#change-password-password-visible {
    margin: 10px 0px 10px 0px;
}

#change-password-submit {
    margin: 20px 0px 0px 0px;
}

/* NOTIFICATION
******************************/

#notification-content {
    margin: 20px 0px 0px 0px;
}

#notification-monitoring-remove-action {
    float: right;
    margin: 0px 0px 20px 0px;
}

#notification-table table {
    width: 100%;
    table-layout: fixed;
}

#notification-table table td {
    padding: 4px 0px 4px 0px;
}
    
#notification-table table td:first-child {
    width: 1px;
}

#notification-table table td:nth-child(2) {
    width: 180px;
    padding: 0px 5px 0px 0px;
}

#notification-table table td:nth-child(4) {
    width: 15px;
}

#notification-table tr:first-child {
    border-top: 1px solid lightgray;
}

#notification-table tr {
    border-bottom: 1px solid lightgray;
}

.notification-table-row-unread {
    background: whitesmoke;
}

#notification-table-photo-box {
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
}

#notification-table-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#notification-table-name {
    width: 100%;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

#notification-table-name a {
    color: black;
}

#notification-table-name a:hover {
    color: blue;
}

#notification-table-message {
    width: 100%;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

#notification-table-message a {
    color: black;
}

#notification-table-message a:hover {
    color: blue;
}

#notification-table-delete button {
    color: black;
}

#notification-table-delete button:hover {
    color: blue;
}

/* MONITORING
******************************/

#monitoring-content {
    margin: 20px 0px 0px 0px;
}

/* FOLLOW
******************************/

#follow {
    margin: 0px 0px 0px 0px;
}

#follow-content {
    margin: 20px 0px 0px 0px;
}

#follow-navigation {
    margin: 0px 0px 20px 0px;
}

#follow-navigation-each {
    float: left;
}

#follow-navigation-separator {
    float: left;
    margin: 0px 10px 0px 10px;
    color: lightgray;
}

#follow-search {
    margin: 0px 0px 20px 0px;
}

#follow-search-input {
    display: inline;
}

#follow-search-input input[type='text'] {
    width: calc(100% - 170px);
}

#follow-search-submit {
    display: inline;
    margin: 0px 0px 0px 5px;
}

#follow-search-clear {
    display: inline;
    margin: 0px 0px 0px 5px;
}

#follow-box {
    float: left;
    margin: 0px 25px 25px 0px;
}

#follow-box-photo-box {
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
}

#follow-box-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#follow-box-name {
    margin: 7px 0px 0px 0px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

#follow-bottom-empty-fix {
    margin: 0px 0px -50px 0px;
}

/* PICTURE USER
******************************/

#picture-user-content {
    margin: 20px 0px 0px 0px;
}

#picture-user-edit-link {
    float: right;
}

#picture-user-table {
    display: table;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

#picture-user-table-row {
    display: table-row;
}

#picture-user-table-row-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.picture-user-center-cell {
    width: 100%;
}

#picture-user-center {
    width: 500px;
    margin: 0px auto 0px auto;
}

#picture-user-right, #picture-user-left {
    font-size: 45px;
    width: 40px;
}

#picture-user-left-gray, #picture-user-right-gray {
    color: #ebebeb;
}

#picture-user-right a, #picture-user-left a {
    color: #b6b6b6;
}

#picture-user-right a:hover, #picture-user-left a:hover {
    color: #919191;
}

#picture-user-title {
    font-size: 26px;
    color: black;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

#picture-user-photo-box {
    width: 100%;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    margin: 10px auto 10px auto;
}

#picture-user-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#picture-user-rate-upload-by {
    margin: 20px 0px 0px 0px;
}

#picture-user-rate {
    margin: 4px 0px 0px 0px;
    float: left;
}

#picture-user-upload-by {
    float: right;
    font-size: 20px;
    font-weight: bold;
}

#picture-user-description {
    margin: 20px 0px 0px 0px;
    padding: 7px;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    height: 200px;
    overflow-y: scroll;
    line-height: 25px;
    text-align: justify;
}

#picture-user-like-comment-share {
    margin: 20px 0px 0px 0px;
}

#picture-user-like {
    float: left;
    margin: 0px 30px 0px 0px;
}

#picture-user-comment {
    float: left;
}

#picture-user-share {
    float: right;
}

#picture-user-share-facebook {
    color: #4a5e91;
    font-size: 22px;
    margin: 0px 3px 0px 3px;
    cursor: pointer;
}

#picture-user-people-reach {
    margin: 30px 0px 0px 0px;
    text-align: left;
}

#picture-user-comment-list {
    margin: 10px 0px 0px 0px;
    text-align: left;
}

/* HOT DEAL
******************************/

#hot-deal-content {
    margin: 20px 0px 0px 0px;
}

#hot-deal-category {
    float: left;
}

#hot-deal-edit-link {
    float: right;
}

#hot-deal-table {
    display: table;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

#hot-deal-table-row {
    display: table-row;
}

#hot-deal-table-row-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.hot-deal-center-cell {
    width: 100%;
}

#hot-deal-center {
    width: 500px;
    margin: 0px auto 0px auto;
}

#hot-deal-right, #hot-deal-left {
    font-size: 45px;
    width: 40px;
}

#hot-deal-left-gray, #hot-deal-right-gray {
    color: #ebebeb;
}

#hot-deal-right a, #hot-deal-left a {
    color: #b6b6b6;
}

#hot-deal-right a:hover, #hot-deal-left a:hover {
    color: #919191;
}

#hot-deal-title {
    font-size: 28px;
    color: black;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

#hot-deal-photo-box {
    width: 100%;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    margin: 10px auto 10px auto;
}

#hot-deal-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#hot-deal-sub-title {
    margin: 20px 0px 0px 0px;
    font-weight: bold;
    font-size: 23px;
    color: black;
}

#hot-deal-time {
    margin: 20px 0px 20px 0px;
    font-size: 20px;
    font-weight: bold;
    color: green;
}

#hot-deal-time-label {
    margin: 0px 0px 0px 10px;
}

#hot-deal-rate {
    margin: 5px 0px 5px 0px;
}

#hot-deal-description {
    margin: 20px 0px 0px 0px;
    padding: 7px;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    height: 200px;
    overflow-y: scroll;
    line-height: 25px;
    text-align: justify;
}

#hot-deal-like-comment-share {
    margin: 20px 0px 0px 0px;
}

#hot-deal-like {
    float: left;
    margin: 0px 30px 0px 0px;
}

#hot-deal-comment {
    float: left;
}

#hot-deal-share {
    float: right;
}

#hot-deal-share-facebook {
    color: #4a5e91;
    font-size: 22px;
    margin: 0px 3px 0px 3px;
    cursor: pointer;
}

#hot-deal-people-reach {
    margin: 30px 0px 0px 0px;
    text-align: left;
}

#hot-deal-comment-list {
    margin: 10px 0px 0px 0px;
    text-align: left;
}

/* HOT DEAL ADVERTISE
******************************/

#hot-deal-advertise-content {
    margin: 20px 0px 0px 0px;
}

#hot-deal-advertise-form {
    vertical-align: top;
    display: inline-block;
    width: 180px; 
    margin: 0px 50px 50px 0px;
}

#hot-deal-advertise-form-photo-box {
    width: 180px;
    height: 180px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    margin: 0px 0px 20px 0px;
}

#hot-deal-advertise-form-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#hot-deal-advertise-form-input-file {
    margin: 0px 0px 20px 0px;
}

#hot-deal-advertise-form-each-label {
    width: 285px;
    text-align: left;
    margin: 20px auto 0px auto;
    font-size: 14px;
}

#hot-deal-advertise-form-each-input input[type='text'] {
    height: 25px;
    width: 100%;
    margin: 10px 0px 0px 0px;
    box-sizing: border-box;
}

#hot-deal-advertise-form-each-input select {
    height: 25px;
    width: 100%;
    margin: 10px 0px 0px 0px;
    box-sizing: border-box;
}

#hot-deal-advertise-form-each-input textarea {
    margin: 10px 0px 0px 0px;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

#hot-deal-advertise-remove-label {
    font-size: 13px;
}

#hot-deal-advertise-remove {
    margin: 20px 0px 0px;
    height: 20px;
}

/* ALBUM USER
******************************/

#album-user-content {
    margin: 20px 0px 0px 0px;
}

#album-user-title {
    color: #244964;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: bold;
    float: left;
}

#album-user-title-upload {
    float: left;
    margin: 6px 0px 0px 20px;
}

.album-user-title-upload-icon {
    font-size: 14px;
    margin-right: 7px;
}

#album-user-title-bottom-line {
    border-bottom: 1px solid lightgray;
    padding: 0px 0px 6px 0px;
    margin: 0px 0px 10px 0px;
}

#album-user-navigation {
    margin: 0px 0px 20px 0px;
}

#album-user-navigation-each {
    float: left;
}

#album-user-navigation-separater {
    float: left;
    margin: 0px 13px 0px 13px;
    color: lightgray;
}

#album-user-upload-button {
    margin: 0px 10px 20px 0px;
}

#album-user-box {
    float: left;
    margin: 0px 50px 50px 0px;
    width: 250px;
}

#album-user-photo-box {
    width: 250px;
    height: 250px;
    border: 1px solid #e1e1e1;
    background-color: whitesmoke;
}

#album-user-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#album-user-main-title {
    margin: 0px 0px 10px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#album-user-main-title a {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

#album-user-main-title a:hover {
    text-decoration: none;
}

#album-user-sub-title {
    margin: 10px 0px 0px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

#album-user-sub-title a {
    font-size: 17px;
    color: black;
}

#album-user-sub-title a:hover {
    text-decoration: none;
}

#album-user-info {
    margin: 10px 0px 0px 0px;
}

#album-user-upload-by {
    margin: 10px 0px 0px 0px;
    font-size: 15px
}

#album-user-bottom-empty-fix {
    margin: 0px 0px -70px 0px;
}

/* UPLOAD FOR MERCHANT
******************************/

#upload-for-merchant-content {
    margin: 20px 0px 0px 0px;
}

#upload-for-merchant-upload-image-note {
    font-size: smaller;
    font-style: italic;
    margin: 15px 0px 20px 0px;
}

#upload-for-merchant-form {
    vertical-align: top;
    display: inline-block;
    width: 250px; 
    margin: 0px 50px 50px 0px;
}

#upload-for-merchant-form-photo-box {
    width: 250px;
    height: 250px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    margin: 0px 0px 20px 0px;
}

#upload-for-merchant-form-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#upload-for-merchant-form-input-file {
    margin: 0px 0px 20px 0px;
}

#upload-for-merchant-form-each-label {
    width: 285px;
    text-align: left;
    margin: 20px auto 0px auto;
}

#upload-for-merchant-form-each-input input[type='text'] {
    height: 25px;
    width: 100%;
    margin: 10px 0px 0px 0px;
    box-sizing: border-box;
}

#upload-for-merchant-form-each-input select {
    height: 25px;
    width: 100%;
    margin: 10px 0px 0px 0px;
    box-sizing: border-box;
}

#upload-for-merchant-form-each-input textarea {
    margin: 10px 0px 0px 0px;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

#upload-for-merchant-remove-label {
    font-size: 15px;
}

#upload-for-merchant-remove {
    margin: 20px 0px 0px;
    height: 20px;
}

/* REDEMPTION
******************************/

#redemption-content {
    margin: 20px 0px 0px 0px;
}

#redemption-category {
    float: left;
}

#redemption-print {
    float: left;
    margin: 20px 0px 0px 0px;
}

#redemption-edit-link {
    float: right;
    margin: 20px 0px 0px 0px;
}

#redemption-expired-date {
    margin: 25px 0px 0px 20px;
    float: left;
    font-size: 22px;
}

#redemption-candies {
    margin: 25px 20px 0px 0px;
    float: right;
    font-size: 23px;
}

#redemption-voucher-barcode {
    margin: 5px 0px 15px 0px;
}

#redemption-table {
    display: table;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

#redemption-table-row {
    display: table-row;
}

#redemption-table-row-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.redemption-center-cell {
    width: 100%;
}

#redemption-center {
    width: 500px;
    margin: 0px auto 0px auto;
}

#redemption-right, #redemption-left {
    font-size: 45px;
    width: 40px;
}

#redemption-left-gray, #redemption-right-gray {
    color: #ebebeb;
}

#redemption-right a, #redemption-left a {
    color: #b6b6b6;
}

#redemption-right a:hover, #redemption-left a:hover {
    color: #919191;
}

#redemption-title {
    font-size: 28px;
    color: black;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

#redemption-photo-box {
    width: 100%;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    margin: 10px auto 10px auto;
}

#redemption-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#redemption-sub-title {
    font-weight: bold;
    font-size: 23px;
    color: black;
    margin: 20px 0px 0px 0px;
}

#redemption-voucher-worth {
    margin: 10px 0px 5px 0px;
    font-weight: bold;
    font-size: 14px;
}

#redemption-time {
    margin: 20px 0px 20px 0px;
    font-size: 20px;
    font-weight: bold;
    color: green;
}

#redemption-time-label {
    margin: 0px 0px 0px 10px;
}

#redemption-description {
    margin: 20px 0px 0px 0px;
    padding: 7px;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    height: 200px;
    overflow-y: scroll;
    line-height: 25px;
    text-align: justify;
}

#redemption-like-comment-share {
    margin: 20px 0px 0px 0px;
}

#redemption-like {
    float: left;
    margin: 0px 30px 0px 0px;
}

#redemption-comment {
    float: left;
}

#redemption-share {
    float: right;
}

#redemption-share-facebook {
    color: #4a5e91;
    font-size: 22px;
    margin: 0px 3px 0px 3px;
    cursor: pointer;
}

#redemption-terms-conditions {
    margin: 20px 0px 0px 0px;
    text-align: left;
}

#redemption-terms-conditions-title {
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-decoration: underline;
    margin: 0px 0px 8px 0px;
}

#redemption-terms-conditions ul {
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

#redemption-terms-conditions li {
    margin: 0px 0px 8px 0px;
    color: black;
    font-size: 18px;
}

#redemption-available-branch {
    margin: 20px 0px 0px 0px;
    text-align: left;
}

#redemption-available-branch-title {
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-decoration: underline;
    margin: 0px 0px 8px 0px;
}

#redemption-available-branch ul {
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

#redemption-available-branch li {
    margin: 0px 0px 10px 0px;
    color: black;
    font-size: 18px;
}

#redemption-available-branch-name {
    font-weight: bold;
    font-size: 17px;
}

#redemption-available-branch-address {
    margin: 5px 0px 0px 0px;
}

#redemption-available-branch-tel {
    float: left;
    margin: 5px 0px 0px 0px;
}

#redemption-available-branch-view-map {
    float: right;
    margin: 5px 0px 0px 0px;
}

#redemption-redempt-submit {
    margin: 20px 0px 0px 0px;
    text-align: left;
}

#redemption-line {
    margin: 30px 0px 30px 0px;
    border-bottom: 1px solid lightgray;
}

#redemption-comment-list {
    width: 500px;
    margin: 0px auto 0px auto;
    text-align: left;
}

/* BLOGGER
******************************/

#blogger-content {
    margin: 20px 0px 0px 0px;
}

#blogger-search {
    margin: 0px 0px 20px 0px;
}

#blogger-search-input {
    display: inline;
}

#blogger-search-input input[type='text'] {
    width: calc(100% - 170px);
}

#blogger-search-submit {
    display: inline;
    margin: 0px 0px 0px 5px;
}

#blogger-search-clear {
    display: inline;
    margin: 0px 0px 0px 5px;
}

#blogger-box-each {
    display: inline-block;
    margin: 0px 15px 15px 0px;
}

#blogger-box-each-photo-box {
    float: left;
    width: 70px;
    height: 70px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
}

#blogger-box-each-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#blogger-box-each-info {
    float: left;
    margin: 0px 0px 0px 15px;
}

#blogger-box-each-info-name {
    margin: 5px 0px 0px 0px;
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#blogger-box-each-info-name a {
    text-decoration: none;
    color: black;
}

#blogger-box-each-info-blog-url {
    margin: 10px 0px 0px 0px;
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#blogger-box-bottom-empty-fix {
    margin: 0px 0px -18px 0px;
}

/* USER REDEMPTION
******************************/

#user-redemption-content {
    margin: 20px 0px 0px 0px;
}

#user-redemption-search {
    margin: 0px 0px 20px 0px;
}

#user-redemption-search-input {
    display: inline;
}

#user-redemption-search-input input[type='text'] {
    width: calc(100% - 90px);
}

#user-redemption-search-submit {
    display: inline;
    margin: 0px 0px 0px 5px;
}

#user-redemption-table {
    margin: 0px 0px 20px 0px;
}

#user-redemption-table table td:nth-child(1) {
    width: 200px;
}

.test {
    width: 200px;
}

#user-redemption-navigation {
    margin: 30px 0px 0px 0px;
}

#user-redemption-navigation-each {
    float: left;
}

#user-redemption-navigation-each-separater {
    float: left;
    margin: 0px 13px 0px 13px;
    color: lightgray;
}

/* ANALYSIS REPORT
******************************/

#analysis-report-content {
    margin: 20px 0px 0px 0px;
}

#analysis-report-go {
    margin: 0px 0px 25px 0px;
}

#analysis-report-go-each select {
    height: 30px;
}

#analysis-report-print {
    margin: 0px 0px 20px 0px;
}

#analysis-report-period {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
    font-weight: bold;
}

/* PAYMENT
******************************/

#payment-content {
    margin: 20px 0px 0px 0px;
}

#payment-go {
    float: left;
}

#payment-go-label {
    display: inline;
}

#payment-go-dropdown {
    display: inline;
}

#payment-go-dropdown select {
    height: 30px;
    display: inline;
}

#payment-go-button {
    display: inline;
    margin: 0px 0px 0px 5px;
}

#payment-balance {
    float: right;
    font-size: 25px;
    font-weight: bold;
}

#payment-print {
    float: left;
    margin: 20px 0px 20px 0px;
}

#payment-money-spend {
    float: right;
    margin: 20px 0px 20px 0px;
}

#payment-table {
    margin: 10px 0px 0px 0px;
}

#payment-table td:nth-child(2), #payment-table td:nth-child(3), #payment-table td:nth-child(4) {
    text-align: right;
}
    
#payment-your-current-balance {
    margin: 30px 0px 0px 0px;
}

#payment-your-balance {
    margin: 10px 0px 0px 0px;
}

#payment-reload {
    margin: 10px 0px 0px 0px;
}

#payment-assistance {
    margin: 10px 0px 0px 0px;
}

#payment-bank-icon {
    margin: 30px 0px 0px 0px;
}

#payment-bank-icon-each {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 10px 10px;
}

/* PAYMENT CHARGE
******************************/

#payment-charge-content {
    margin: 20px 0px 0px 0px;
}

#payment-charge-go-label {
    display: inline;
}

#payment-charge-go-dropdown {
    display: inline;
}

#payment-charge-go-dropdown select {
    height: 30px;
    display: inline;
}

#payment-charge-go-button {
    display: inline;
    margin: 0px 0px 0px 5px;
}

#payment-charge-table {
    margin: 20px 0px 0px 0px;
}

#payment-charge-table table {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

/* CANDIE PROMOTION
******************************/

#candie-promotion-content {
    margin: 20px 0px 0px 0px;
}

#candie-promotion-form-go {
    margin: 0px 0px 25px 0px;
}

#candie-promotion-form-go-year select, #candie-promotion-form-go-month select {
    height: 30px;
}

#candie-promotion-form-photo {
    float: left;
}
    
#candie-promotion-form-photo-box {
    width: 250px;
    height: 250px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    margin: 0px 0px 0px 0px;
}

#candie-promotion-form-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#candie-promotion-form-photo-note {
    font-size: smaller;
    font-style: italic;
    margin: 5px 0px 15px 0px;
}

#candie-promotion-form-photo-input-file {
    width: 150px;
}

#candie-promotion-form-info {
    margin: 0px 0px 0px 285px;
}

#candie-promotion-form-each-label {
    margin: 10px 0px 10px 0px;
}

#candie-promotion-form-each-input input[type='text'] {
    height: 25px;
    width: 290px;
    margin: 0px 0px 10px 0px;
    box-sizing: border-box;
}

#candie-promotion-form-each-input select {
    height: 25px;
    width: 290px;
    margin: 0px 0px 10px 0px;
    box-sizing: border-box;
}

#candie-promotion-form-each-input textarea {
    margin: 0px 0px 7px 0px;
    width: 290px;
    height: 100px;
    resize: none;
    box-sizing: border-box;
}

.candie-promotion-form-each-input-datepicker input[type='text'] {
    background-size: 10px;
    background: url(../image/icon_calendar.png) no-repeat;
    background-position: right 5px center;
}

#candie-promotion-form-voucher-checkbox {
    margin: 15px 0px 10px 0px;
}

#candie-promotion-form-voucher-checkbox-title, #candie-promotion-form-branch-checkbox-title {
    font-weight: bold;
    font-size: 14px;
    color: black;
    margin: 0px 0px 8px 0px;
    text-decoration: underline;
}

#candie-promotion-form-branch-checkbox-title {
    margin: 20px 0px 8px 0px;
}

#candie-promotion-form-voucher-checkbox-each, #candie-promotion-form-branch-checkbox-each {
    margin: 0px 0px 8px 0px;
    color: black;
}

#candie-promotion-form-voucher-checkbox-each-label, #candie-promotion-form-branch-checkbox-each-label {
    padding: 0px 0px 0px 7px;
}

#candie-promotion-extra-terms-n-conditions {
    margin: 20px 0px 0px 0px;
}

#candie-promotion-extra-terms-n-conditions-title {
    font-weight: bold;
    font-size: 14px;
    color: black;
    margin: 0px 0px 8px 0px;
    text-decoration: underline;
}

#candie-promotion-extra-terms-n-conditions textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
}

#candie-promotion-form-submit {
    margin: 20px 0px 0px 0px;
}

/* CANDIE
******************************/

#candie-content {
    margin: 20px 0px 0px 0px;
}

#candie-navigation {
    margin: 0px 0px 20px 0px;
}

#candie-navigation-each {
    float: left;
}

#candie-navigation-each-separator {
    float: left;
    margin: 0px 10px 0px 10px;
    color: lightgray;
}

#candie-go {
    margin: 20px 0px 0px 0px;
    float: left;
}

#candie-go-label {
    display: inline;
}

#candie-go-dropdown {
    display: inline;
}

#candie-go-dropdown select {
    height: 30px;
    display: inline;
}

#candie-go-button {
    display: inline;
    margin: 0px 0px 0px 5px;
}

#candie-balance {
    margin: 20px 0px 0px 0px;
    float: right;
}

#candie-balance-number {
    font-size: 25px;
    font-weight: bold
}

#candie-subtitle {
    float: left;
    margin: 20px 0px 0px 0px;
    font-size: 18px;
    font-weight: bold;
}

#candie-date-time {
    float: right;
    margin: 20px 0px 0px 0px;
}

#candie-table {
    margin: 20px 0px 0px 0px;
}

#candie-how-gain {
    margin: 40px 0px 0px 0px;
}

#candie-how-gain-content {
    margin: 20px 0px 0px 0px;
}
    
/* VOUCHER
******************************/

#voucher-content {
    margin: 20px 0px 0px 0px;
}

#voucher-navigation {
    margin: 0px 0px 20px 0px;
}

#voucher-navigation-each {
    float: left;
}

#voucher-navigation-each-separator {
    float: left;
    margin: 0px 10px 0px 10px;
    color: lightgray;
}

#voucher-go {
    margin: 20px 0px 20px 0px;
}

#voucher-go-label {
    display: inline;
}

#voucher-go-dropdown {
    display: inline;
}

#voucher-go-dropdown select {
    height: 30px;
    display: inline;
}

#voucher-go-button {
    display: inline;
    margin: 0px 0px 0px 5px;
}

/* INVITE FRIEND
******************************/

#invite-friend-content {
    margin: 20px 0px 0px 0px;
}

#invite-friend-form-label {
    margin: 10px 0px 10px 0px;
}

#invite-friend-form-input input[type='text'] {
    height: 25px;
    width: 290px;
    margin: 0px 0px 10px 0px;
    box-sizing: border-box;
}

#invite-friend-form-submit {
    margin: 10px 0px 0px 0px;
}

/* USER COMMENT
******************************/

#user-comment {
    margin: 0px 0px 0px 0px;
}

#user-comment-list-each {
    margin: 0px 0px 15px 0px;
}

#user-comment-list-each-username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}

#user-comment-list-each-comment-time {
    font-size: 13px;
    color: gray;
    margin: 5px 0px 0px 0px;
}

#user-comment-input {
    margin: 20px 0px 0px 0px;
}

#user-comment-input textarea {
    height: 100px;
    width: 100%;
    resize: none;
    box-sizing: border-box;
}

#user-comment-submit {
    margin: 20px 0px 0px 0px;
}

    
/* ABOUT US
******************************/

#about-us-logo {
    float: left;
}

#about-us-logo-img {
    width: 180px;
    margin: 40px 40px 40px 0px;
}

/* CONTACT US
******************************/

#contact-us-left {
    float: left;
    width: 50%;
}

#contact-us-left-map {
    margin: 10px 0px 0px 0px;
}

#contact-us-left-social-media-icon {
    font-size: 20px;
}

#contact-us-left-social-media-icon-facebook, #contact-us-left-social-media-icon-instagram, #contact-us-left-social-media-icon-linkedin {
    float: left;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}

#contact-us-left-social-media-icon-facebook a {
    color: #4a5e91;
}

#contact-us-left-social-media-icon-instagram a {
    color: #7d5846;
}

#contact-us-left-social-media-icon-linkedin a {
    color: #1379a0;
}

#contact-us-left-social-media-icon-facebook:hover, #contact-us-left-social-media-icon-instagram:hover, #contact-us-left-social-media-icon-linkedin:hover {
    color: black;
}

#contact-us-right {
    float: right;
    width: 38%;
    margin: 0px 5% 0px 7%;
}

#contact-us-right-form {
    margin: 10px 0px 0px 0px;
}

#contact-us-right-form-each {
    margin: 0px 0px 15px 0px;
}

#contact-us-right-form input[type='text'] {
    height: 32px;
    width: 100%;
    box-sizing: border-box;
}

#contact-us-right-form textarea {
    height: 150px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    resize: none;
}

#contact-us-right-form input[type='submit'] {
    float: right;
}

/* TERMS AND CONDITIONS
******************************/

#terms-and-conditions p {
    color: #4a4a4a;
    font-size: 15px;
}

#terms-and-conditions ul {
    padding: 0px;
    margin: 0px 0px 0px 30px;
}

#terms-and-conditions li {
    padding: 0px 0px 3px 0px;
    list-style-type: decimal;
    color: black;
    font-weight: bold;
}

#terms-and-conditions li p {
    padding: 0px;
    margin: 7px 0px 7px 0px;
    font-weight: normal;
}

#terms-and-conditions li > ul > li {
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 0px 0px;
    list-style-type: upper-latin;
    color: #4a4a4a;
    font-weight: normal;
}    

/* FOOTER
******************************/

#footer {
    margin: 16px 0px 35px 0px;
}

#footer-menu {
    float: left;
}

#footer-menu a {
    font-size: 14px;
    color: #2c59a0;
    text-decoration: none;
}

#footer-menu a:hover {
    text-decoration: underline;
    color: #2e5ba1;
}

#footer-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#footer-menu li {
    display: inline;
    margin: 0px 6px 0px 6px;
}

#footer-server-time {
    float: right;
    margin: 0px 15px 0px 0px;
    font-size: 14px;
    color: #767676;
}

#footer-copyright {
    font-size: 14px;
    float: right;
    color: #767676;
    margin: 0px 6px 0px 6px;
}

/* SUCCESS MESSAGE 
******************************/

#success-message {
    margin: 30px 0px 30px 0px;
    text-align: center;
}

#success-message a {
    text-decoration: none;
}

#success-message a:hover {
    text-decoration: underline;
}

#success-message-title {
    font-weight: bold;
    font-size: 19px;
    margin: 0px 0px 15px 0px;
}

#success-message-subtitle {
    margin: 0px 0px 15px 0px;
    font-size: 18px;
}

#success-message-paragraph {
    margin: 0px 0px 15px 0px;
}

#success-message-link {
    margin: 30px 0px 0px 0px;
}
