/*********************************************
 ** HOME ROW 2 COLUMN 1
 *********************************************/

#home-row2-column1 {
    width: 100%;
    float: none;
}

/*********************************************
 ** HOME ROW 2 COLUMN 2
 *********************************************/

#home-row2-column2 {
    width: 100%;
    float: none;
}

/*********************************************
 ** HOME ROW 2 COLUMN 2 LIKE
 *********************************************/

#home-row2-column2-like-notification {
    height: auto;
    max-height: 300px;
}

/*********************************************
 ** HOME ROW 2 COLUMN 2 USER PICTURE
 *********************************************/

#home-row2-column2-user-picture-notification {
    height: auto;
    max-height: 300px;
}

#home-row3-logo-slider {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/*********************************************
 ** INDEX LEFT CATEGORY
 *********************************************/

#index-left-category {
    float: none;
    width: 100%;
    margin: 0px 0px 30px 0px;
}

#index-left-category-label-sub-label {
    display: none;
}

#index-left-category-right-content {
    float: none;
    width: 100%;
    margin: 0px;
}

/*********************************************
 ** SHARE HOT DEAL GRID LIST 5 OLD
 *********************************************/

#share-hot-deal-grid-list5-old-box {
    vertical-align: top;
    display: inline-block;
    width: calc(33.33% - 22px);
    margin: 0px 30px 30px 0px;
}

#share-hot-deal-grid-list5-old-box:nth-child(5n) {
    margin-right: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-last-child(-n+5) {
    margin-bottom: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-child(4n) {
    margin-right: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-last-child(-n+4) {
    margin-bottom: 30px;
}

#share-hot-deal-grid-list5-old-box:nth-child(3n) {
    margin-right: 0px;
}

#share-hot-deal-grid-list5-old-box:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

/*********************************************
 ** ADVERTIST LIST
 *********************************************/

#advertise-list-box {
    vertical-align: top;
    display: inline-block;
    width: calc(33.33% - 22px);
    margin: 0px 30px 30px 0px;
}

#advertise-list-box:nth-child(5n) {
    margin-right: 30px;
}

#advertise-list-box:nth-last-child(-n+5) {
    margin-bottom: 30px;
}

#advertise-list-box:nth-child(4n) {
    margin-right: 30px;
}

#advertise-list-box:nth-last-child(-n+4) {
    margin-bottom: 30px;
}

#advertise-list-box:nth-child(3n) {
    margin-right: 0px;
}

#advertise-list-box:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

/*********************************************
 ** ALBUM USER
 *********************************************/

#album-user-box {
    display: inline-block;
    vertical-align: top;
    width: calc(33% - 21px);
    margin: 0px 25px 25px 0px;
}

#album-user-box:nth-child(5n) {
    margin-right: 30px;
}

#album-user-box:nth-last-child(-n+5) {
    margin-bottom: 30px;
}

#album-user-box:nth-child(4n) {
    margin-right: 30px;
}

#album-user-box:nth-last-child(-n+4) {
    margin-bottom: 30px;
}

#album-user-box:nth-child(3n) {
    margin-right: 0px;
    margin-bottom: 25px;
}

#album-user-box:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

/*********************************************
 ** BLOGGER / PHOTOGRAPHER
 *********************************************/

#blogger-box-each, #photographer-box-each {
    width: 49%;
}

#blogger-box-each:nth-child(4n), #photographer-box-each:nth-child(4n) {
    margin-right: 15px;
}

#blogger-box-each:nth-child(3n), #photographer-box-each:nth-child(3n) {
    margin-right: 15px;
}

#blogger-box-each:nth-child(2n), #photographer-box-each:nth-child(2n) {
    margin-right: -35px;
}

/*********************************************
 ** USER REDEMPTION
 *********************************************/

#voucher-go-label {
    display: block;
}

#voucher-go-dropdown select {
    width: 100%;
}

#voucher-go-button {
    margin: 0px;
}

#voucher-go-button button {
    width: 100%;
}

/*********************************************
 ** FOOTER
 *********************************************/

#footer-navigation-block1 {
    width: 50%;
}

#footer-navigation-block2 {
    width: 50%;
}

#footer-navigation-block3 {
    width: 50%;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

#footer-navigation-block4 {
    width: 50%;
}